* {
 
 margin: 0 0 0 0;
 
 padding: 0 0 0 0

}



body {
 
 background-color: #000000

}



body.white {
  
background-color: #ffffff
}



#heading {

width: 100%;

height: 327px;

background-image: url(images/top-bkg.jpg);

background-repeat:no-repeat;

background-attachment:fixed;

background-position:center;



}



#heading h1 {
font-family:arial,serif;
font-size:18pt;
font-weight:bold;
font-style:normal;
color: #ffffff;
float: right;
margin: 10px 165px 0 0
}


#content {
width: 100%;
background-color: #ffffff;
}

#content h1 {
  
font-family:arial,serif;
  
font-size:16pt;
  
font-weight:bold;
  
font-style:normal;
  
text-align:center;
  
color:#000000;
  
background-color:#ffffff;
margin: 10px 0 10px 0}


#content h2{

  font-family:arial,serif;
font-size:14pt;
font-weight:bold;
font-style:normal;
text-align:center;
color:#000000;
background-color:#ffffff;
margin: 10px 0 10px 0
}


#content p {
font-family:arial,
serif;font-size:12pt;
font-style:normal;
font-weight:normal;
text-align:left;
margin: 10px 40px 10px 40px;
color:#000000;
background-color:#ffffff
}

#content a {
font-family:arial;font-size:12pt;
font-style:normal;
font-weight: 500;
color:#000000;
background-color:#ffffff;
text-decoration: underline
}

#content a:hover{
color:#ff3300;
text-decoration:none}


#content img {
  
margin: 4px;
  
border: solid #000000 1px
}


#navigate {
width: 200px;
padding: 0 0 0 0
}

/* Button settings */
#navigate p {
text-align: center; 
float: left;  
text-indent: 0px; 
margin: 0 0 0 15px;  
padding: 0 0 0 0  }

#navigate a {
display: block;
background-image : URL(images/button-078.gif);
background-repeat : no-repeat; 
margin: 0 0 0 0;  
padding: 0 0 0 0;
width : 178px; 
height: 26px;

  }

#navigate a:hover {
display: block;
background-image : URL(images/button-078-2.gif);
background-repeat : no-repeat; 
margin: 0 0 0 0;  
padding: 0 0 0 0;
width : 178px; 
height: 26px;
  }

/* Define button text */
#navigate a {
 font-family: Arial, Verdana, serif; 
font-style : normal ;
font-size : 8pt; 
font-weight :700;
text-decoration : none; 
color:#ffffff; 
margin: 0 0 0 0;
line-height : 240% }

#navigate a:hover { 
color: #ffcc00;
}

#navigate h2 {
 font-family: Arial, Verdana, serif; 
font-style : normal ;
font-size : 10pt; 
font-weight :700;
color:#ffffff; 
text-align: center;
margin: 10px 0 10px 0;
 }

#footer {
width: 100%;
height: 25px;
padding: 0 0 0 0
}

address {
font-family:arial;
font-size:8pt;
font-style:normal;
font-weight:bold;
text-align: center;
color:#ffffff;
background-color:#000000;
margin: 2px 0 0 0
}


address a {
color: #efefef
}

form {
font-family: verdana, serif;
font-size: 12pt;
margin: 10px 40px 10px 40px
}